.login-title {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 1rem;
  margin: 3rem 0 0 3rem;
}

.login-container {
  @include flexbox();

  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

#acept {
  width: 0.5rem;
  height: 1rem;
  color: $login-color;
}